<div class="home-callout text-center container-fluid">
  <div class='jumbotron'>
    <h1><strong> Lestley A. Gabo </strong></h1>
  </div>
  <!--<h4>This page contains links to my LinkedIn, GitHub, and HackerRank profiles.</h4>-->
  <!--<h4>It also contains links to my projects, completed or otherwise.</h4>-->


  <div class="container">
    <hr>
    <h1 class="left-align"><strong> Profiles </strong></h1>
    <div class="row">  
      <div class="col-md-4">
        <%= link_to "//www.linkedin.com/in/lestgabo/", class:"btn2", target: "_blank" do %>
          <i class= "fa fa-linkedin-square"></i>
          LinkedIn
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "//github.com/lestgabo", class:"btn2", target: "_blank" do %>
          <i class= "fa fa-github-square"></i>
          GitHub
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "//www.hackerrank.com/beeftosino", class:"btn2", target: "_blank" do %>
          <i class= "fa fa-h-square"></i>
          HackerRank
        <% end %>
      </div>
    </div>
  </div> <!-- /div row of Container for Profiles -->
  
  <br>

  <div class="container">
    <h1 class="left-align"><strong> Resume </strong></h1>
    <div class="row"> 
      <div class="col-md-4">
        <!--Resume-->
        <%= link_to "https://drive.google.com/open?id=0B9Dt_lzGChXNRGQ3ZVlUSFlQQVE", class:"btn2", target: "_blank" do %>
          Resume
        <% end %>
      </div>
      <div class="col-md-4">
        <!-- col-md-offset-4 -->
        <!--Resume-->
        <%= link_to "https://drive.google.com/open?id=0B9Dt_lzGChXNNXRlR3R0S1I4bVk", class:"btn2", target: "_blank" do %>
          Long Resume
        <% end %>
      </div>
    </div>
   </div> <!-- /div row of Container for Resume -->

  <br>
  
  <div class="container">
    <h1 class="left-align"><strong> Projects </strong></h1>
    
    <h2 class="left-align"> Web Development </h2>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "//pacific-mesa-35161.herokuapp.com/", class:"btn2", target: "_blank" do %>
        <!--<i class= "fa fa-users"></i>-->
        DevMatch
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://lestleygabo.herokuapp.com/", class:"btn2", target: "_blank" do %>
        <!--<i class= "fa fa-id-badge"></i>-->
        Lestley Links
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://learn-rails-by-daniel-kehoe.herokuapp.com/", class:"btn2", target: "_blank" do %>
          Dormer Fan Page
        <% end %>
      </div>
    </div>
  </div> <!-- /div row of Container for Web Development -->
   
  <br>

  <div class="container">
    <h2 class="left-align"> Robotics Research Co-op </h2>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "//github.com/elderlyrobotics", class:"btn2", target: "_blank" do %>
        <i class= "fa fa-github-square"></i>
          elderlyrobotics GitHub 
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNRVpxeE00TVJ6WHM", class:"btn2", target: "_blank" do %>
          User Manual 
        <% end %>
      </div>
    </div>  <!-- /div row of Robotics Research Co-op github and user manual -->
    
    <div class="row">
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/open?id=0B9Dt_lzGChXNem9Ub2pPU1JXV28", class:"btn2", target: "_blank"  do %>
          Developer's Manual Part 1
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/open?id=0B9Dt_lzGChXNMmEzajBpdV83OTQ", class:"btn2", target: "_blank"  do %>
          Developer's Manual Part 2
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/open?id=0B9Dt_lzGChXNU3FLdXJ3dWloX1E", class:"btn2", target: "_blank"  do %>
          Developer's Manual Part 3
        <% end %>
      </div>
    </div> <!-- /div row of Robotics Research Co-op manuals -->
  </div> <!-- /div row of Container for Robotics Research Co-op -->
        
  <br>
    
  <div class="container">
    <h2 class="left-align"> Simon Fraser University </h2>
    <br>
    <h4 class="left-align"> ENSC 483 - Modern Control Systems </h4>
    <div class="row">    
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNdXBmQ29SRjVSR2M/view", class:"btn2", target: "_blank"  do %>
          Research Paper Simulation
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNOG5rSUZiMXgyOGM/view", class:"btn2", target: "_blank"  do %>
          Inverted Pendulum 
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 483 - Modern Control Systems -->
    
    
      <br>   
      <br>
      <br>
    <h4 class="left-align"> ENSC 477 - Biomedical Image Acquisition </h4>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNVkI3dXI4X1MxeUU/view", class:"btn2", target: "_blank"  do %>
          Lab 1 - MEG
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNV2pOUGQ5YXRacWM/view", class:"btn2", target: "_blank"  do %>
          Lab 2 - CT
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 477 - Biomedical Image Acquisition  -->
    <div class="row">
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNWWc3OUpiVmhXb3M/view", class:"btn2", target: "_blank"  do %>
          Lab 3 - Ultrasound
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNNW1TZ1pYSkRtT3M/view", class:"btn2", target: "_blank"  do %>
          Lab 4 - MRI Lab
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 477 - Biomedical Image Acquisition  -->
    
    
      <br>        
      <br>
      <br>
    <h4 class="left-align"> ENSC 476 - Biophotonics and Microscopy Techniques </h4>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNRThlbG9YeGVaMXM/view", class:"btn2", target: "_blank"  do %>
          Lab 1 - Confocal
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNNmtuZ3FYVjRxV28/view", class:"btn2", target: "_blank"  do %>
          Lab 2 - OCT
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNN1pBa1pGa1IyZ0E/view", class:"btn2", target: "_blank"  do %>
          Lab 3 - Phase Microscopy
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 476 - Biophotonics and Microscopy Techniques -->
    
    
      <br>      
      <br>
      <br>
    <h4 class="left-align"> ENSC 470 - Optical Engineering and Laser Applications </h4>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNUHU5N3FKZ2ZjYXc/view", class:"btn2", target: "_blank"  do %>
          Lab 1 - Basic Optics
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNR1FmaUpsZEJycms/view", class:"btn2", target: "_blank"  do %>
          Lab 2 - Spectrometer
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNaG1TUTc1Q2xqUW8/view", class:"btn2", target: "_blank"  do %>
          Lab 3 - Laser Gaussian Beam
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 470 - Optical Engineering and Laser Applications -->
        
      
      <br> 
      <br>
      <br>
    <h4 class="left-align"> ENSC 305W/440W - Capstone Project </h4>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNeURWWWtwdGJiWkk/view", class:"btn2", target: "_blank"  do %>
          Design
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNWDJNRXBIMkRJVHc/view", class:"btn2", target: "_blank"  do %>
          Test
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 305W/440W - Capstone Project -->
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNRmdtR0dvLVlDQjA/view", class:"btn2", target: "_blank"  do %>
          Post
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNUC1semYtQkZ6X0E/view", class:"btn2", target: "_blank"  do %>
          Demo
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 305W/440W - Capstone Project -->
    
      
      <br>  
      <br>
      <br>
    <h4 class="left-align"> ENSC 424 - Multimedia Communications Engineering </h4>
    <div class="row"> 
      <div class="col-md-4">
        <!-- col-md-offset-4 -->
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNTFhkTzJQQTFMVFE/view", class:"btn2", target: "_blank"  do %>
          Project Report - Philter
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 424 - Multimedia Communications Engineering -->
    
      
      <br>      
      <br>
      <br>
    <h4 class="left-align"> ENSC 406 - Engineering Ethics, Law, and Professional Practice </h4>
    <div class="row"> 
      <div class="col-md-4">
        <!-- col-md-offset-4 -->
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNVzM5Y3JLbGpUM2c/view", class:"btn2", target: "_blank"  do %>
          Solar Panel Sustainability
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 406 - Engineering Ethics, Law, and Professional Practice -->
    
            
      <br>
      <br>
      <br>
    <h4 class="left-align"> ENSC 327 - Communication Systems </h4>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNYmtQcFlkdDV1RWs/view", class:"btn2", target: "_blank"  do %>
          Lab 2 - Amplitude Modulation
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNSUxZYk5QRXFjVnM/view", class:"btn2", target: "_blank"  do %>
          Lab 3 - FM Mod and Demod
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 327 - Communication Systems -->

      <br>
      <br>
      <br>
    <h4 class="left-align"> ENSC 316 - Introduction to Electrodynamics for Engineers </h4>
    <div class="row"> 
      <div class="col-md-4">
        <!-- col-md-offset-4 -->
        <%= link_to "https://drive.google.com/file/d/1G3iNloqC5cgtvSLjNdUbg2wpRpQAJ4ET/view", class:"btn2", target: "_blank"  do %>
          Design Project - Qi Charging Station
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 316 - Introduction to Electrodynamics for Engineers -->
    
    
      <br>
      <br>
      <br>
    <h4 class="left-align"> ENSC 304 - Human Factors and Usability Engineering </h4>
    <div class="row"> 
      <div class="col-md-4">
        <!-- col-md-offset-4 -->
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNd1FpenlyVG1vWGs/view", class:"btn2", target: "_blank"  do %>
          Self-Checkout Machines
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 304 - Human Factors and Usability Engineering -->
    
      
      <br> 
      <br>
      <br>
    <h4 class="left-align"> ENSC 225 - Microelectronics I </h4>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNY1VrVFZ6Nnh6Z00/view", class:"center button-wrap rad-button dark gradient", target: "_blank"  do %>
          Lab 1 - Opamps
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNa3RxdkRLRE5lWW8/view", class:"center button-wrap rad-button dark gradient", target: "_blank"  do %>
          Lab 2 - Diodes
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 225 - Microelectronics I -->
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNUVRRVUJ4Z18wNU0/view", class:"center button-wrap rad-button dark gradient", target: "_blank"  do %>
          Lab 3 - BJTs
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNV013alNoNzF2UXc/view", class:"center button-wrap rad-button dark gradient", target: "_blank"  do %>
          Lab 4 - MOSFETs
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 225 - Microelectronics I -->
    
        
      <br>
      <br>
      <br>
    <h4 class="left-align"> PHYS 131 - Physics Laboratory I </h4>
   <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNODFNejdiVEljUHc/view", class:"hvr-float-shadow", target: "_blank"  do %>
          Force and Moving Charges
        <% end %>
      </div>
    </div> <!-- /div row of PHYS 131 - Physics Laboratory I -->
 
    <hr>   
</div> <!-- /div row of Container for Projects -->

  <br>
  <br>




  <!-- button to go to top -->
  <!--<button onclick="topFunction()" class="hide-box" title="Go to top"> <h1>Go to top of page.</h1></button>-->
  <div onclick="topFunction()" class="hvr-float-shadow" title="Go to top"><h3>Click to go to top of page.</h3></div>
</div> <!-- /div of class="home-callout text-center container-fluid" -->

<!----------------------------------------------------------------------------->


   

    
    

