  <div class="container text-left">
    <h1><strong> Projects </strong></h1>
    
    <h2> Web Development </h2>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "//pacific-mesa-35161.herokuapp.com/", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
        <!--<i class= "fa fa-users"></i>-->
        DevMatch
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://lestleygabo.herokuapp.com/", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
        <!--<i class= "fa fa-id-badge"></i>-->
        Lestley Links
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://learn-rails-by-daniel-kehoe.herokuapp.com/", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
          Dormer Fan Page
        <% end %>
      </div>
    </div>
    
    <br> 
    
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://sample-app-from-rails-tutorial.herokuapp.com/", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
          Twitter Sample Application
        <% end %>
      </div>
            
      <div class="col-md-4">
        <%= link_to "https://wishpond-test-lestleygabo.herokuapp.com/", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
          Wishpond Test Project
        <% end %>
      </div>      
      
      <div class="col-md-4">
        <%= link_to "https://lestgabo.github.io/learn_enough_html/moby_dick", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
          Learn Enough HTML to Be Dangerous
        <% end %>
      </div>
      

    </div>
   
  <br>

    <h2> Robotics Researcher Co-op </h2>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://www.youtube.com/watch?v=ZmU-hsg7x38", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
          YouTube - Oculus Robot - Platform Control
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "//github.com/elderlyrobotics", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
        <i class= "fa fa-github-square"></i>
          GitHub - Oculus Robot
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNRVpxeE00TVJ6WHM", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
          Oculus Robot - User Manual 
        <% end %>
      </div>
    </div>  <!-- /div row of Robotics Research Co-op github and user manual -->
        
    <br> 
    
    <div class="row">
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/open?id=0B9Dt_lzGChXNem9Ub2pPU1JXV28", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Oculus Robot - Developer's Manual Part 1
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/open?id=0B9Dt_lzGChXNMmEzajBpdV83OTQ", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Oculus Robot - Developer's Manual Part 2
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/open?id=0B9Dt_lzGChXNU3FLdXJ3dWloX1E", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Oculus Robot - Developer's Manual Part 3
        <% end %>
      </div>
    </div> <!-- /div row of Robotics Research Co-op manuals -->
        
  <br>
    
    <h2> Simon Fraser University </h2>

    <h4> ENSC 483 - Modern Control Systems </h4>
    <div class="row">    
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNdXBmQ29SRjVSR2M/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Project 1 - Research Paper Simulation
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNOG5rSUZiMXgyOGM/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Project 2 - Inverted Pendulum 
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 483 - Modern Control Systems -->
    
    
      <br>      <br>
    <h4>  ENSC 477 - Biomedical Image Acquisition </h4>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNVkI3dXI4X1MxeUU/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 1 - Magnetoencephalography (MEG)
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNV2pOUGQ5YXRacWM/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 2 - Simulated Computed Tomography
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 477 - Biomedical Image Acquisition  -->
        
    <br> 
    
    <div class="row">
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNWWc3OUpiVmhXb3M/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 3 - Ultrasound
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNNW1TZ1pYSkRtT3M/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 4 - Magnetic Resonance Imaging (MRI)
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 477 - Biomedical Image Acquisition  -->
    

      <br>      <br>
    <h4>  ENSC 476 - Biophotonics and Microscopy Techniques </h4>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNRThlbG9YeGVaMXM/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 1 - Confocal
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNNmtuZ3FYVjRxV28/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 2 - Optical Coherence Tomography
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNN1pBa1pGa1IyZ0E/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 3 - Quantitative Phase Microscopy
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 476 - Biophotonics and Microscopy Techniques -->
    
    
      <br>      <br>
    <h4>  ENSC 470 - Optical Engineering and Laser Applications </h4>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNUHU5N3FKZ2ZjYXc/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 1 - Basic Optics
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNR1FmaUpsZEJycms/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 2 - Spectrometer
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNaG1TUTc1Q2xqUW8/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 3 - Laser Gaussian Beam
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 470 - Optical Engineering and Laser Applications -->
        

      <br>      <br>
    <h4>  ENSC 305W/440W - Capstone Project </h4>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNeURWWWtwdGJiWkk/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Smart Post - Design Specification
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNWDJNRXBIMkRJVHc/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Smart Post - Test Plan
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 305W/440W - Capstone Project -->
        
    <br> 
    
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNRmdtR0dvLVlDQjA/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Smart Post - Post-Mortem
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNUC1semYtQkZ6X0E/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Smart Post - Demo
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 305W/440W - Capstone Project -->
    

      <br>      <br>
    <h4>  ENSC 424 - Multimedia Communications Engineering </h4>
    <div class="row"> 
      <div class="col-md-4">
        <!-- col-md-offset-4 -->
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNTFhkTzJQQTFMVFE/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Project Report - Philter
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 424 - Multimedia Communications Engineering -->
    

      <br>      <br>
    <h4>  ENSC 406 - Engineering Ethics, Law, and Professional Practice </h4>
    <div class="row"> 
      <div class="col-md-4">
        <!-- col-md-offset-4 -->
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNVzM5Y3JLbGpUM2c/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Solar Panel Sustainability
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 406 - Engineering Ethics, Law, and Professional Practice -->
    

      <br>      <br>
    <h4>  ENSC 327 - Communication Systems </h4>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNYmtQcFlkdDV1RWs/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 2 - Amplitude Modulation
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNSUxZYk5QRXFjVnM/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 3 - FM Mod and Demod
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 327 - Communication Systems -->


      <br>      <br>
    <h4>  ENSC 316 - Introduction to Electrodynamics for Engineers </h4>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/1G3iNloqC5cgtvSLjNdUbg2wpRpQAJ4ET/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Design Project - Qi Charging Station
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 316 - Introduction to Electrodynamics for Engineers -->
    

      <br>      <br>
    <h4>  ENSC 304 - Human Factors and Usability Engineering </h4>
    <div class="row"> 
      <div class="col-md-4">
        <!-- col-md-offset-4 -->
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNd1FpenlyVG1vWGs/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Self-Checkout Machines
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 304 - Human Factors and Usability Engineering -->
    

      <br>      <br>
    <h4>  ENSC 225 - Microelectronics I </h4>
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNY1VrVFZ6Nnh6Z00/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 1 - Operational Amplifier Circuits (Opamps)
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNa3RxdkRLRE5lWW8/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 2 - Diodes and simple diode Circuits
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 225 - Microelectronics I -->
        
    <br> 
    
    <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNUVRRVUJ4Z18wNU0/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 3 - BJTs and single stage BJT amplifier
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNV013alNoNzF2UXc/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Lab 4 - MOSFETs and MOS amplifier
        <% end %>
      </div>
    </div> <!-- /div row of ENSC 225 - Microelectronics I -->
    

      <br>      <br>
    <h4>  PHYS 131 - Physics Laboratory I </h4>
   <div class="row"> 
      <div class="col-md-4">
        <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNODFNejdiVEljUHc/view", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
          Force and Moving Charges
        <% end %>
      </div>
    </div> <!-- /div row of PHYS 131 - Physics Laboratory I -->
 
    <hr>   
  </div> <!-- /div of Container for Projects -->
  
  <div onclick="topFunction()" class="hvr-float-shadow" title="Back to top"><h3>Back to top</h3></div>