<!--<h2>This page contains links to my projects, completed or otherwise.</h2>-->
<div class="home-callout-parts home-callout-projects container-fluid">
  <div class="container">

    <div id="web-development" class="text-left">
      <h2><strong>Web development</strong></h2>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "//pacific-mesa-35161.herokuapp.com/",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
            <h3>DevMatch</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://lestleygabo.herokuapp.com/",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
            <h3>Lestley links</h3>
          <% end %>
        </div>
      </div><!-- row -->
    <br>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://learn-rails-by-daniel-kehoe.herokuapp.com/",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
            <h3>Natalie Dormer fan page</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://sample-app-from-rails-tutorial.herokuapp.com/",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
            <h3>Twitter clone app</h3>
          <% end %>
        </div>
      </div><!-- row -->
    <br>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://wishpond-test-lestleygabo.herokuapp.com/",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
            <h3>Wishpond test project</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://lestgabo.github.io/learn_enough_html/moby_dick",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
            <h3>HTML fundamentals</h3>
          <% end %>
        </div>
      </div><!-- row -->
    <br>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://lestgabo.github.io/gallery/",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
            <h3> Gallery with unbtrosive JavaScript</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://lestgabo.github.io/learn_enough_javascript/palindrome.html",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
            <h3>Palindrome detector</h3>
          <% end %>
        </div>
      </div><!-- row -->
    <br>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://react-color-picker.herokuapp.com/about",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
            <h3>React on Rails - color picker</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "http://www.fademe.ca",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
            <h3>Landing page - Fademe</h3>
          <% end %>
        </div>
      </div><!-- row -->
    </div><!-- id: web-development -->

  <br>
  <hr>

    <div id="hardware" class="text-left">
      <h2><strong>Hardware</strong></h2>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://github.com/lestgabo/doorlocker",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
            <h3>Web controllable door locker</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://github.com/lestgabo/subtitles/blob/master/README.md",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
            <h3>Raspberry Pi LCD touchscreen MPI3508 - how to use instructions</h3>
          <% end %>
        </div>
      </div><!-- row -->
    </div><!-- id: hardware -->

  <br>
  <hr>

    <div id="robotics-researcher-co-op" class="text-left">
      <h2><strong> Robotics researcher co-op </strong></h2>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://www.youtube.com/watch?v=ZmU-hsg7x38",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
            <h3>YouTube - Oculus robot - platform control</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "//github.com/elderlyrobotics",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
            <h3>GitHub - Oculus robot</h3>
          <% end %>
        </div>
      </div><!-- row -->
  <br>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNRVpxeE00TVJ6WHM",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
            <h3>Oculus robot - user manual </h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/open?id=0B9Dt_lzGChXNem9Ub2pPU1JXV28",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Oculus robot - developer's manual part 1</h3>
          <% end %>
        </div>
      </div><!-- row -->
  <br>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/open?id=0B9Dt_lzGChXNMmEzajBpdV83OTQ",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Oculus robot - developer's manual part 2</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/open?id=0B9Dt_lzGChXNU3FLdXJ3dWloX1E",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Oculus robot - developer's manual part 3</h3>
          <% end %>
        </div>
      </div><!-- row -->
    </div><!-- id: robotics-researcher-co-op -->

  <br>
  <hr>

    <div id="simon-fraser-university" class="text-left">
      <h2><strong> Simon Fraser University </strong></h2>
      <br>
      <h2> Engineering Science 483 - Modern control systems </h2>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNdXBmQ29SRjVSR2M/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Project 1 - Research paper simulation</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNOG5rSUZiMXgyOGM/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Project 2 - Inverted pendulum</h3>
          <% end %>
        </div>
      </div> <!-- /div row of Engineering Science 483 - Modern Control Systems -->

      <br>
      <br>

      <h2>  Engineering Science 477 - Biomedical image acquisition </h2>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNVkI3dXI4X1MxeUU/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 1 - Magnetoencephalography (MEG)</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNV2pOUGQ5YXRacWM/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 2 - Simulated computed tomography</h3>
          <% end %>
        </div>
      </div> <!-- /div row of Engineering Science 477 - Biomedical Image Acquisition  -->
    <br>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNWWc3OUpiVmhXb3M/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 3 - Ultrasound</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNNW1TZ1pYSkRtT3M/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 4 - Magnetic resonance imaging (MRI)</h3>
          <% end %>
        </div>
      </div> <!-- /div row of Engineering Science 477 - Biomedical Image Acquisition  -->

      <br>
      <br>

      <h2>  Engineering Science 476 - Biophotonics and microscopy techniques </h2>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNRThlbG9YeGVaMXM/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 1 - Confocal</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNNmtuZ3FYVjRxV28/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 2 - Optical coherence tomography</h3>
          <% end %>
        </div>
      </div><!-- row -->
    <br>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNN1pBa1pGa1IyZ0E/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 3 - Quantitative phase microscopy</h3>
          <% end %>
        </div>
      </div> <!-- /div row of Engineering Science 476 - Biophotonics and Microscopy Techniques -->

      <br>
      <br>

      <h2>  Engineering Science 470 - Optical engineering and laser applications </h2>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNUHU5N3FKZ2ZjYXc/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 1 - Basic optics</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNR1FmaUpsZEJycms/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 2 - Spectrometer</h3>
          <% end %>
        </div>
      </div><!-- row -->
    <br>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNaG1TUTc1Q2xqUW8/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 3 - Laser gaussian beam</h3>
          <% end %>
        </div>
      </div> <!-- /div row of Engineering Science 470 - Optical Engineering and Laser Applications -->

      <br>
      <br>

      <h2>  Engineering Science 305W/440W - Capstone project </h2>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNeURWWWtwdGJiWkk/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Smart Post - Design specification</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNWDJNRXBIMkRJVHc/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Smart Post - Test plan</h3>
          <% end %>
        </div>
      </div> <!-- /div row of Engineering Science 305W/440W - Capstone Project -->
    <br>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNRmdtR0dvLVlDQjA/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Smart Post - Post-mortem</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNUC1semYtQkZ6X0E/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Smart Post - Demo</h3>
          <% end %>
        </div>
      </div> <!-- /div row of Engineering Science 305W/440W - Capstone Project -->

      <br>
      <br>

      <h2>  Engineering Science 424 - Multimedia communications engineering </h2>
      <div class="row">
        <div class="col-md-6">
          <!-- col-md-offset-4 -->
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNTFhkTzJQQTFMVFE/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Android application - Philter</h3>
          <% end %>
        </div>
      </div> <!-- /div row of Engineering Science 424 - Multimedia Communications Engineering -->

      <br>
      <br>

      <h2>  Engineering Science 406 - Engineering ethics, law, and professional practice </h2>
      <div class="row">
        <div class="col-md-6">
          <!-- col-md-offset-4 -->
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNVzM5Y3JLbGpUM2c/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Solar panel sustainability</h3>
          <% end %>
        </div>
      </div> <!-- /div row of Engineering Science 406 - Engineering Ethics, Law, and Professional Practice -->

      <br>
      <br>

      <h2>  Engineering Science 327 - Communication systems </h2>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNYmtQcFlkdDV1RWs/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 2 - Amplitude modulation</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNSUxZYk5QRXFjVnM/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 3 - FM modulation and demododulation</h3>
          <% end %>
        </div>
      </div> <!-- /div row of Engineering Science 327 - Communication Systems -->

      <br>
      <br>

      <h2>  Engineering Science 316 - Introduction to electrodynamics for engineers </h2>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/1G3iNloqC5cgtvSLjNdUbg2wpRpQAJ4ET/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Design project - Qi charging station</h3>
          <% end %>
        </div>
      </div> <!-- /div row of Engineering Science 316 - Introduction to Electrodynamics for Engineers -->

      <br>
      <br>

      <h2>Engineering Science 304 - Human factors and usability engineering </h2>
      <div class="row">
        <div class="col-md-6">
          <!-- col-md-offset-4 -->
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNd1FpenlyVG1vWGs/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Self-checkout machines</h3>
          <% end %>
        </div>
      </div> <!-- /div row of Engineering Science 304 - Human Factors and Usability Engineering -->

      <br>
      <br>

      <h2>  Engineering Science 225 - Microelectronics I </h2>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNY1VrVFZ6Nnh6Z00/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 1 - Operational amplifier circuits (Opamps)</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNa3RxdkRLRE5lWW8/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 2 - Diodes and simple diode circuits</h3>
          <% end %>
        </div>
      </div> <!-- /div row of Engineering Science 225 - Microelectronics I -->
    <br>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNUVRRVUJ4Z18wNU0/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 3 - BJTs and single stage BJT amplifier</h3>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNV013alNoNzF2UXc/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Lab 4 - MOSFETs and MOS amplifier</h3>
          <% end %>
        </div>
      </div> <!-- /div row of Engineering Science 225 - Microelectronics I -->

      <br>
      <br>

      <h2>  Physics 131 - Physics laboratory I </h2>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "https://drive.google.com/file/d/0B9Dt_lzGChXNODFNejdiVEljUHc/view",
          class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank"  do %>
            <h3>Force and moving charges</h3>
          <% end %>
        </div>
      </div> <!-- /div row of PHYS 131 - Physics Laboratory I -->

    </div> <!-- id: simon-fraser-university -->
  <hr>
  </div> <!-- /div of Container for Projects -->

  <br>

  <div id="topButton" class="text-center">
    <div onclick="topFunction()" class="hvr-float-shadow" title="Back to top">
      <h2>Back to top</h2>
    </div>
  </div>

</div> <!-- home-callout-parts text-center container-fluid -->
