<div class="home-callout-contact text-center container-fluid">
  <div class='jumbotron'>
    <h1><strong> Contact Lestley </strong></h1>
  </div>
  
  
  
  
  <div class="container">
      <hr>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="well">
          <%= form_for @contact do |f| %>
          
            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
            
            <div class="form-group">
              <%= f.label :message %>
              <%= f.text_area :message, class: 'form-control' %>
            </div>
              
              <%= f.submit 'Submit', class: 'btn btn-primary hvr-float-shadow' %>
          <% end %>
        </div> <!-- well -->
      </div> <!-- col-md-4 -->
    </div> <!-- row -->
  </div> <!-- container -->
  <br><br><br><br><br><br><br>
  <!-- There is an issue of the container fluid not covering until the bottom of the page
       and when that happens, the whole page is indented (shifted to the right).
       
       Since this page, the contact page, will always be shorter than the home page with all the links
       the container fluid cannot reach the bottom. 
       
       This is why I am including the <br>s below. 
       They will ensure that container fluid reaches the bottom. 
       
       The problem is that there are a lot of useless spaces... not worth it.
       
       UPDATE: This is now solved by giving padding of home-callout a percentage value
         .home-callout {
            // padding-bottom: 100px;
            padding-bottom: 25%;
          }
       UPDATE 2: This is now cleaner by giving padding of home-callout-contact a brute force value
         .home-callout-contact {
            // padding-bottom: 100px;
            padding-bottom: 360.50px;
          }
  -->

  <!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
  <!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>  -->
  <!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>  -->
  <!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>  -->
  <!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>  -->
  <!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>  -->
  <!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>  -->
  <!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>  -->
  <!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>  -->

</div> <!-- home-callout text-center container-fluid -->